---
import JobSEOMeta from '@/components/meta-data-helpers/JobSEOMeta.astro';
import ShareWithSocialMedia from '@/components/ShareWithSocialMedia.astro';
import Layout from '@/layouts/Layout.astro';
import TopPageBanner from '@/components/TopPageBanner-3.astro';
import { getJobPostingSchema } from '@/lib/getJobPostSchema';
import { getCollection, type CollectionEntry } from 'astro:content';

const path  = decodeURIComponent(Astro.url.pathname).toLowerCase();
const host  = Astro.site?.href;
const url   = new URL(path, host);

const { job } = Astro.props as { job: CollectionEntry<'jobs'> };
const {
  id,
  title,
  locationType,
  locationDescription,
  employmentType,
  date,
  summary,
} = job.data;

const { Content } = await job.render();

const metaTitle       = `Phaeno Job Opening: ${id} – ${title}`;
const metaDescription = `${title} | ${employmentType} · ${locationType}: ${locationDescription} – ${summary}`;
const metaImage       = new URL('/images/phaeno-socialmedia-splash.webp', Astro.site).href;

const schema = getJobPostingSchema(job);

export async function getStaticPaths() {
  const jobs = await getCollection('jobs');
  return jobs.map((job) => ({
    params: { slug: job.slug },
    props:  { job },
  }));
}
---

<Layout>
  <!-- ▾──────────────  PAGE-SPECIFIC HEAD  ──────────────▾ -->
  <JobSEOMeta 
    slot="head"
    title={metaTitle}
    description={metaDescription}
    datePosted={date}
    image={metaImage}
    schema={schema}    
  />
  <!-- ▴──────────────  PAGE-SPECIFIC HEAD  ──────────────▴ -->

  <main id="main" tabindex="-1">
    <TopPageBanner title="Job Opening" />
    <section>
      <p class="m-0 p-0">
        About&nbsp;|&nbsp;
        <a
          href="/about/job-openings"
          title="Return to job openings list"
          aria-label="Return to job openings list"
        >Job Openings</a>
        &nbsp;|&nbsp;{job.slug}
      </p>

      <h1 id={`${job.data.id}-${job.data.title.replace(/\s+/g, '-').toLowerCase()}`} class="alternative">{id} – {title}</h1>
      <p class="text-sm text-gray-600">
        {employmentType} • {locationType} • {locationDescription}
      </p>
      <p class="text-sm text-gray-500">
        Posted&nbsp;{new Date(date).toLocaleDateString('en-US')}
      </p>
      <p class="text-sm text-gray-600">{summary}</p>

      <article class="mt-8">
        <Content />
      </article>

      <hr class="text-zinc-200 mt-12" />

      <div class="flex justify-end my-10">
        <ShareWithSocialMedia
          title={title}
          link={url}
          summary={summary}
        />
      </div>
    </section>
  </main>
</Layout>
