---
import { FaExternalLinkAlt } from 'react-icons/fa';
import footerItems from './footer'
import SocialMedia from '@/components/SocialMedia.astro';

const copyYear = new Date().getFullYear()
---

<footer id="site-footer">
  <div class="footer-container">
    <div class="top-container">
      <div class="top-container-item">
        <div class="column-header">Phaeno Inc.</div>
        <div class="text-sm">5270 California Avenue<br />Suite 300<br />Irvine, CA 92617</div>
        <div class="text-sm"><a href="email:info@phenobiotech.com">info@phaenobiotech.com</a></div>
      </div>
      <div class="top-container-item">
        <div class="column-header">Resources</div>
        <div><a href={footerItems.careers.job_opening.link}>{footerItems.careers.job_opening.title}</a></div>
        <div><a href="/data-policies">Data Policies</a></div>  
        <div>
          <a 
            class="flex gap-2 justify-center items-center"
            target="_blank" 
            href="https://portal.cadexgenomics.com/"
          >
            <FaExternalLinkAlt size={12} />
            <span>Customer Portal</span> 
          </a>
        </div>        
      </div>
      <div class="top-container-item">
        <div class="column-header">{footerItems.media.title}</div>
        <div><a href={footerItems.media.news.link}>{footerItems.media.news.title}</a></div>
        <div><a href={footerItems.media.press.link}>{footerItems.media.press.title}</a></div>
        <div><a href={footerItems.media.blog.link}>{footerItems.media.blog.title}</a></div>
        <div><a href={footerItems.media.science.link}>{footerItems.media.science.title}</a></div>
        <div><a href={footerItems.media.white_papers.link}>{footerItems.media.white_papers.title}</a></div>
        <div class="flex justify-center mt-1">
          <SocialMedia size="sm" />
        </div>
      </div>
    </div>
    <div class="middle-container">
      <div><a href={footerItems.other.investors.link}>{footerItems.other.investors.title}</a></div>
      <div><a href={footerItems.other.privacy.link}>{footerItems.other.privacy.title}</a></div>
      <div><a href={footerItems.other.tou.link}>{footerItems.other.tou.title}</a></div>
      <div><a href="/data-policies">Data Policies</a></div>  
    </div>
    <hr class="border-t my-4" />
    <div class="bottom-container">
      <div class="text-xs">Copyright &copy;{ copyYear } Phaeno Inc.</div>
    </div> 
  </div>
</footer>

<style>
footer {
  background-color: #E9EFEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: black;
}

.footer-container {
  padding: 10px;
  max-width: 85rem;
  width: 100%;
}

.column-header {
  font-weight: 700;
  text-transform: uppercase;
}

.top-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: .5rem;
  font-size: 13px;
}

.top-container-item {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  flex: 1 1 22%; /* 4 columns with space between */
  min-width: 180px; /* prevents squishing on smaller screens */
  padding: 10px;
  text-align: center;
}

.middle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 3rem;  
  padding: 1rem 0 .5rem 0;
  font-size: 13px;
}

.bottom-container {
  display: flex;
  justify-content: center;
  padding: 3px;
  font-size: 10px;
}

a {

}
</style>