---
import ShareWithSocialMedia from '@/components/ShareWithSocialMedia.astro';
import Layout from '@/layouts/Layout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';


export async function getStaticPaths() {
  const jobs = await getCollection('blog');
  return jobs.map((job) => ({
    params: { slug: job.slug },   // use the built-in slug
    props:  { job }               // pass the entry
  }));
}

const path = decodeURIComponent(Astro.url.pathname).toLowerCase();
const { job } = Astro.props as { job: CollectionEntry<'blog'> };
const { title, authors, date, summary } = job.data;
const { Content } = await job.render();   // returns an Astro component
---

<Layout>
  <main>
    <section>
      <p>Media | <a href="/media/blog">Blog</a> | {job.slug}</p>
      <h1 class="alternative">{title}</h1>
      <p class="text-sm text-gray-600">{authors}</p>
      <p class="text-sm text-gray-500">Posted {new Date(date).toLocaleDateString('en-US')}</p>          
      <Content />

      <hr class="text-zinc-200 mt-12" />
      
      <div class="flex justify-end my-10">
        <ShareWithSocialMedia 
          title={title} 
          link={path} 
          summary={summary} 
        />
      </div>      
    </section>
  </main>
</Layout>