---
import { FaLinkedin, FaSquareXTwitter, FaFacebook, FaReddit, FaWhatsapp, FaTelegram, FaEnvelope } from 'react-icons/fa6';

interface IProps {
  title: string
  link: string
  summary: string
}

const {title, link, summary} = Astro.props;
const path = decodeURIComponent(link).toLowerCase();
const fullPath = new URL(path, Astro.site?.href).href;
const iconSize: number = 25;
---

<div class="flex flex-col">
  <div class="mb-1.5 text-right"><b>Share on social media</b></div>
  <div class="icon-container">
    <a 
      class="linked-in"
      target="_blank"       
      rel="noopener noreferrer"
      title="Linked-In"
      aria-label="Share this article on Linked-In – opens in a new tab"
      href=`https://www.linkedin.com/shareArticle?mini=true&url=${fullPath}&title=${title}&summary=${summary}`
    >
      <FaLinkedin 
        size={iconSize} 
      />
    </a>

    <a
      class="twitter" 
      target="_blank" 
      rel="noopener noreferrer"
      title="X"
      aria-label="Share this article on X – opens in a new tab"
      href=`https://x.com/intent/post?text=${title}&url=${fullPath}`
    >
      <FaSquareXTwitter 
        size={iconSize} 
      />
    </a>
    <a
      class="reddit" 
      target="_blank" 
      rel="noopener noreferrer"
      title="Reddit"
      aria-label="Share this article on Reddit – opens in a new tab"
      href=`https://reddit.com/submit?url=${fullPath}&title=${title}`
    >
      <FaReddit 
        size={iconSize} 
      />
    </a>

    <a 
      class="facebook"
      target="_blank" 
      rel="noopener noreferrer"
      title="Facebook"
      aria-label="Share this article on Facebook – opens in a new tab"
      href=`https://www.facebook.com/sharer.php?u=${fullPath}&t=${title}`
    >
      <FaFacebook 
        size={iconSize} 
      />
    </a>  

    <a 
      class="whatsapp"
      target="_blank" 
      rel="noopener noreferrer"
      title="Whatsapp"
      aria-label="Share this article on Whatsapp – opens in a new tab"
      href=`https://api.whatsapp.com/send?text=${fullPath}`
    >
      <FaWhatsapp size={iconSize} />
    </a>

    <a
      class="telegram" 
      target="_blank" 
      rel="noopener noreferrer"
      title="Telegram"
      aria-label="Share this article on Telegram – opens in a new tab"
      href=`https://t.me/share/url?${fullPath}&text=${title}: ${summary}`
    >
      <FaTelegram size={iconSize} />
    </a>

    <a 
      target="_blank" 
      rel="noopener noreferrer"
      title="Email"
      aria-label="Share this article by email – opens your default email application"
      href=`mailto:?subject=${title}&body=${fullPath}` rel="nofollow"
    >
      <FaEnvelope 
        size={iconSize} 
      />
    </a>      
  </div>
</div>

<style>
.icon-container {
  display: flex;
  justify-items: center;
  gap: 1.1rem;
  width: fit-content;
}

a { transition: color 0.3s ease, transform 0.3s ease; }
a:hover { transform: scale(1.1); }
a:active { transform: scale(1); }

.linked-in:hover  { color: #0077B5; }   /* Linked-In Blue */
.youtube:hover    { color: #FF0000; }   /* YouTube Red */  
.twitter:hover    { color: black; }     /* Twitter Black */
.reddit:hover     { color: #FF4500; }   /* Reddit Orange */
.facebook:hover   { color: #1877F2; }   /* Facebook Blue */
.whatsapp:hover   { color: #25D366; }   /* WhatsApp Green */
.telegram:hover   { color: #0088CC; }   /* Telegram Blue */

@media (max-width: 450px) {
  .icon-container {
    gap: 1rem;
  }
} 
</style>