---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import MediaCard from '@/components/MediaCard.astro'
import MediaCollection from '@/components/MediaCollection.astro'
import TopPageBanner from '@/components/TopPageBanner-1.astro'
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro';

const papers = await getCollection('scientific_papers')
---

<title>Scientific Pubs | Phaeno</title>
<meta name="description" content="Browse throught and read Phaeno's scientific publications." />

<Layout>
  <SEOMeta 
    slot="head"
    title="Scientific Publications"
    description="Learn about Phaeno's mission to transform molecular diagnostics through innovative RNA sequencing technology and expert leadership."
    documentType="List"
  />    
  <main>
    <TopPageBanner title="Scientific Publications" />
    <section>
      {papers.length ? (
        <input
          id="mediaSearch"
          class="mb-6"
          type="text"
          placeholder="Search title, author or journal"
          class="w-full"
        />) : null
      }

      <MediaCollection>
        {papers.map(paper => (
          <MediaCard
            searchString={`${paper.data.title} ${paper.data.journal} ${paper.data.authors.join(' ')}`.toLowerCase()}
            title={paper.data.title} 
            image={paper.data.image} 
            link={`/media/scientific-publications/${paper.slug}`}
          >
            <div>{paper.data.authors.join(', ')}</div>
            <div><i>{paper.data.journal}</i></div>
            <div><i>{new Date(paper.data.date).toLocaleDateString('en-US')}</i></div>
          </MediaCard>
        ))}      
      </MediaCollection> 
      {!papers.length?<div class="w-full mt-10 flex justify-center items-center"><div>No scientific publications, check back later.</div></div>:null}
    </section>
  </main>
</Layout>